
<section class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <h2 class=" text-center mx-auto h-12 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">ABOUT</h2>
      <figure class="mt-10">
        <blockquote class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
          <p>“Mind Scape, an Angular project by Moustaquim Younes, is a quiz web app aimed at enhancing understanding of Angular through the MEAN stack.<br> It offers an engaging interface for interactive quizzes, showcasing the practical application of Angular while providing a valuable educational tool.”</p>
        </blockquote>
        <figcaption class="mt-10">
          <img class="mx-auto h-16 w-16 rounded-full" src="https://scontent.fcmn2-1.fna.fbcdn.net/v/t39.30808-6/299733741_1182146529017172_2535569331721590521_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=HAyW7OzjsT8AX8lRG-y&_nc_ht=scontent.fcmn2-1.fna&oh=00_AfA4hDYSHSYst4uV13SGgrcnk-W73Kr0OEMeFfWwdFbU5A&oe=65932101" alt="">
          <div class="mt-4 flex items-center justify-center space-x-3 text-base">
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Younes Moustaquim</h3>
            <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
              <circle cx="1" cy="1" r="1" />
            </svg>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Software Engineering Student</p>
          </div>
          
        </figcaption>
      </figure>
    </div>
  </section>
  