<div class="bg-white">
    <div class="lg:container mx-auto max-w-7-xl flex w-full flex-wrap items-center justify-between px-3">
      <div class="relative isolate overflow-hidden bg-white-900 px-6 pt-16 sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
        <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
          <h2 class="text-3xl font-bold tracking-tight text-black sm:text-4xl">Welcome to MINDSCAPE!<br>Test you kwnoledge with our quizzes NOW!</h2>  
            <p class="mt-6 text-lg leading-8 text-black-300">You will never know if you are good at it or not -<br>be brave and test your self.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
                <a routerLink="/quizzes" class="rounded-md bg-black text-white px-3.5 py-2.5 text-sm font-semibold  shadow-sm hover:bg-gray-100  hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Get started</a>
                <a routerLink="/about" class="text-sm font-semibold leading-6 text-black">Learn more <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
