<div class="p-8 ">
    <h1 class="text-3xl font-bold mb-6">Quizzes list</h1>
    <br>
    <!--Search ability-->
    <div class="mb-3">
        <div class="relative mb-4 flex w-full flex-wrap items-stretch">
        <!--Search input-->
          <input
            type="search"
            class="relative m-0 -mr-0.5 block min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
            placeholder="Search"
            aria-label="Search"
            [(ngModel)]="searchTerm"

            />
      
          <!--Search button-->
          <button
            class="relative z-[2] rounded-r border-2 border-primary px-6 py-2 text-xs font-medium uppercase text-primary transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
            type="button"
            (click)="search()"

            >
            Search
          </button>
        </div>
      </div>
    <!--showing available Quizzes data -->
    <div class="grid grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 gap-6">
      <div *ngFor="let quiz of filteredQuizzes.length ? filteredQuizzes : quizzes" class="bg-black p-4 rounded-lg">
        <h2 class=" text-white text-xl font-bold mb-2">{{ quiz.quizname }}</h2>
        <p class="text-gray-400 mb-2">{{ quiz.quizdescription }}</p>
        <br>
        <!--a link to visit quiz info page-->
        <a href="#" class="bg-white text-black font-bold py-2 px-4 rounded inline-flex items-center justify-center w-full">
            View quiz <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </a>
      </div>
    </div>
    <br>
    <button routerLink="/NewQuiz" class="bg-black text-white font-bold py-2 px-4 rounded inline-flex items-center justify-center" >
      <span>New Quiz</span>
      <span class="text-lg">+</span>
    </button>
    
  </div>
  